<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b36c794c-2a16-460e-b3e7-b917c37fe483" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://www.thomas-bayer.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="b36c794c-2a16-460e-b3e7-b917c37fe483fileName">http%3A%2F%2Fwww.thomas-bayer.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://www.thomas-bayer.com</con:endpoint></con:endpoints></con:interface>